{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_usuarios_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Info usuário
    </h1>
    <hr>
    <h3>Usuário: {{ usuario.usuario }}</h3>
    <h3>Tipo: {{ usuario.tipo }}</h3>
    <a href="{{ path('admin_usuarios_excluir', { 'id' : usuario.id }) }}" class="btn btn-danger">Excluir</a>
{% endblock %}
