{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_ordens_busca') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Nova ordem de serviço
    </h1>
    <hr>
    <p>Departamento: {{ equipamento.departamento }}</p>
    <p>Equipamento: {{ equipamento }}</p>
    {{ include('_form.html.twig', { 'form': form }) }}
{% endblock %}