<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}SGMC - Sistema Gerenciador de Manutenção de Computadores{% endblock %}</title>
        {% block icone %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% endblock %}
        {% block css %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block js %}
            {% javascripts 'js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>