{% extends 'base.html.twig' %}
{% block content %}



    <div class="well">
        <h1>SGMC - Sistema Gerenciador de Manutenção de Computadores</h1>


    </div>



    <ul class="nav nav-pills nav-justified">

        <li role="presentation"><a href="http://127.0.0.1:8000/register/" class="btn btn-default">
                <!---Editar o link, colocar rota !--->
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Cadastrar-se
            </a></li>
        <li role="presentation"><a href="http://127.0.0.1:8000/register/" class="btn btn-default">
                <!---Editar o link, colocar rota !--->
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Excluir minha conta
            </a></li>

        <li role="presentation"><a href="http://127.0.0.1:8000/register/" class="btn btn-default">
                <!---Editar o link, colocar rota !--->
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Recuperar senha
            </a></li>

        <li role="presentation"><a href="http://127.0.0.1:8000/register/" class="btn btn-default">
                <!---Editar o link, colocar rota !--->
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        Sobre
            </a></li>
    </ul>











{% endblock %}