{% extends 'base.html.twig' %}
{% block content %}
    <div class="well">
        <h1>SGMC - Sistema Gerenciador de Manutenção de Computadores</h1>
        <hr>
        <ul class="nav nav-pills nav-justified">
            <li>
                <!-- TODO atualizar link cadastro-->
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-user"></span>
                    Cadastrar-se
                </a>
            </li>
            <li>
                <!-- TODO adicionar recuperar senha -->
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Alterar senha
                </a>
            </li>
            <li>
                <!-- TODO adicionar link -->
                <a href="#" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Sobre
                </a>
            </li>
        </ul>
    </div>
{% endblock %}