{% extends 'base.html.twig' %}
{% block content %}
    <div class="well">
        <h1>SGMC - Sistema Gerenciador de Manutenção de Computadores</h1>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <h2>O sistema foi criado para ajudar a manter os equipamentos da escola funcionando corretamente.</h2>
                <h2>A idéia foi criada no ano de 2017, inspirada pela apresentação do TCC outra turma.</h2>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('img/facebook.png') }}" class="img-responsive foto-table">
                    </div>
                    <div class="col-md-8">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="https://www.facebook.com/cesaraugusto.manzanopalharini" target="_blank">Cesar</a></li>
                            <li class="active"><a href="https://www.facebook.com/lucasfelipe.limacosta" target="_blank">Lucas</a></li>
                            <li class="active"><a href="https://www.facebook.com/renanciciliato" target="_blank">Renan</a></li>
                            <li class="active"><a href="https://www.facebook.com/vzuppa" target="_blank">Vinicius</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}