{% extends 'base.html.twig' %}
{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li><a href="{{ path('admin_departamentos_index') }}">Departamentos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block main %}
    <h1>SGMC - Admin</h1>
{% endblock %}