{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>
        <a href="{{ path('admin_cursos_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
        Excluir curso
    </h1>
    <hr>
    <h3>ID: {{ curso.id }}</h3>
    <h3>Nome: {{ curso.nome }}</h3>
    <hr>
    <h2>Deseja excluir o curso?</h2>
    <form action="{{ path('admin_cursos_excluir', {'id': curso.id}) }}" method="post">
        <input type="submit" value="Sim" name="del" class="btn btn-danger">
        <input type="submit" value="Não" name="del" class="btn btn-default">
    </form>
{% endblock %}