body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #eee;
    color: #333333;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


.footer  {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: #222222;
    color: white;
    text-align: center;
}

h5{
    position: absolute;
    margin-top: 18.6%;
    color: white;
    margin-left: 1250px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control:focus {
    z-index: 2;
}