{% extends 'admin/index.html.twig' %}
{% block main %}
    <h1>Usuários</h1>
    <hr>
    <a href="#" class="btn btn-primary">Novo</a>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>E-mail</th>
                <th>Permissão</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for role in usuario.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>
                    <a href="#" class="btn btn-default">Editar</a>
                    <a href="#" class="btn btn-default">Info</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
